%table.table.table-condensed{ :style => "margin-right: 5px;" }
  %thead
    %tr
      %th.text-center{ :title => 'Website link' }
        %i.fa.fa-globe
      %th State
      %th County
      %th Court Type
      %th Program Name
      %th Address
      - if current_user && current_user.role.name == 'admin'
        %th Edit
  %tbody
    - @results.each do |result|
      %tr
        %td.text-center
          - if result.website
            = link_to result.website, target: '_blank' do
              %i.fa.fa-globe.text-primary
        %td= result.state
        %td= result.county
        %td= result.program_type
        %td= result.program_name
        %td= result.address
        - if current_user && current_user.role.name == 'admin'
          %th
            = link_to 'edit', edit_programs_information_path(result.id)
