- content_for :javascript do
  = render 'near_me.js'
  - if @query[:v].include?('Map')
    = render 'map.js'
.row
  .col-xs-3.col-sm-3.col-md-3.state-filter
    = render 'filter_sidebar'
  .col-xs-9.col-sm-9.col-md-9
    .row
      = form_tag programs_information_index_path, method: 'get' do  
        - @query.merge(q: []).each do |section, conditions|
          - conditions.each do |cond|
            = hidden_field_tag "#{section}[]", cond
        .input-group.br
          = text_field_tag :q, (params[:q] == '*' ? '' : params[:q]  ), placeholder: 'Search', type: "search", class: 'form-control search', id: 'srch-term'
          %span.input-group-btn
            .btn-default
              %button.btn.btn-default{type: "submit"}
                %i.fa.fa-search
          %span.input-group-btn
            = link_to 'Near Me', '#', class: "btn btn-default near-me", role: "button"
    %br
    .row
      .btn-group
        .btn-group
          .dropdown.view-options
            = render 'view_options'
        .btn-group
          .dropdown.export_options
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              Download
              %span.caret
            %ul.dropdown-menu
              %li.dropdown-header Download Options
              %li
                = link_to_csv_export
              %li
                = link_to_all_download
      %br
      %br
      .row
        - if @query[:v].include?('Map')
          #map
      .row
        - if @query[:v].include?('Map')
          %p.text-small.maps-count-notification
            For performance reasons, geographically-located counts are approximate. Please use the counts by type on the left hand sidebar for an accurate count.
    .row.table-striped.locations-list-table-container
      - if @query[:v].include?('List')
        = render 'locations_list', locals: {results: @results}
